@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

.header {
  height: 85vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(v.$light-green, 0.8),
      rgba(v.$dark-green, 0.8)
    ),
    url(../img/hero-small.jpg);
  background-size: cover;
  background-position: top;

  @supports (clip-path: polygon(0 0)) or (--webkit-clip-path: polygon(0 0)) {
    --webkit-clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
    clip-path: polygon(
      0 0,
      100% 0,
      100% 80vh,
      0 100%
    ); /* Clockwise direction */
    height: 95vh;
  }

  @media (min-resolution: 192dpi) and (min-width: 37.5em),
    (--webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),
    (min-width: 125em) {
    /* comma , in media queries acts as an OR operator */
    background-image: linear-gradient(
        to right bottom,
        rgba(v.$light-green, 0.8),
        rgba(v.$dark-green, 0.8)
      ),
      url(../img/hero.jpg);
  }

  @include m.respond(phone) {
    --webkit-clip-path: polygon(0 0, 100% 0, 100% 87vh, 0 100%);
    clip-path: polygon(
      0 0,
      100% 0,
      100% 87vh,
      0 100%
    ); /* Clockwise direction */
  }

  &__icons-box {
    display: flex;
    padding: 3.5rem 0 0 4.7rem;
  }

  &__logo {
    height: 3rem;
  }

  &__text-container {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}
