@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

.form {
  &__group:not(:last-child) {
    margin-bottom: 2rem;
  }

  &__input {
    font-size: 1.5rem;
    font-family: inherit;
    color: inherit;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    background-color: rgba(v.$white, 0.5);
    border: none;
    border-bottom: 3px solid transparent;
    width: 90%;
    display: block;
    transition: all 0.4s;

    @include m.respond(tab-port) {
      width: 100%;
    }

    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba(v.$black, 0.1);
      border-bottom: 3px solid v.$medium-green;
    }

    &:focus:invalid {
      border-bottom: 3px solid v.$medium-orange;
    }

    &::--webkit-input-placeholder {
      color: v.$color-grey-dark-1;
    }
  }

  &__label {
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: 0.7rem;
    display: block;
    transition: all 0.3s;
  }

  &__input:placeholder-shown + &__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
  }
  /* Radio buttons */
  &__radio-group {
    width: 49%;
    display: inline-block;

    @include m.respond(tab-port) {
      width: 100%;
      margin-bottom: 1rem;
    }
  }

  &__radio-group:focus-within &__radio-button {
    transform: translateY(-0.3rem);
    transition: all 0.4s;
    &::before {
      animation: radioBtnScaleUpDissapear 0.8s ease-out;
    }
  }

  &__radio-input {
    /* Hide the original radio buttons */
    appearance: none;
  }

  &__radio-label {
    font-size: v.$default-font-size;
    cursor: pointer;
    position: relative;
    padding-left: 4.5rem;
  }

  &__radio-button {
    height: 3rem;
    width: 3rem;
    border: 5px solid v.$medium-green;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: 0;
    top: -0.4rem;

    &::after {
      content: "";
      display: block;
      height: 1.3rem;
      width: 1.3rem;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: v.$medium-green;
      opacity: 0;
      transition: opacity 0.2s;
    }

    &::before {
      content: "";
      display: block;
      height: 1.5rem;
      width: 1.5rem;
      border-radius: 50%;
      position: absolute;
      backface-visibility: hidden; /* FIX ANIMATION SHAKING */
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: v.$light-green;
      opacity: 0;
      z-index: -10;
    }
  }

  &__radio-input:checked + &__radio-label &__radio-button::after {
    opacity: 100%;
  }
}
