@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

/*ABOUT SECTION*/
.section-about {
  background-color: v.$color-grey-light-1;
  padding: 40rem 4rem 30rem 4rem;
  margin-top: -20vh;
}

.about-grid {
  margin: 5rem auto 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  row-gap: 2rem;
  column-gap: 5rem;
  max-width: v.$small-max-width;
}

.about-grid--images {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
}

/*FEATURES SECTION*/
.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(
      to right bottom,
      rgba(v.$light-green, 0.8),
      rgba(v.$dark-green, 0.8)
    ),
    url(../img/nat-4.jpg);
  background-size: cover;

  transform: skewY(-7deg);
  margin-top: -15rem;
}

.features-flex-container {
  display: flex;
  justify-content: center;
  gap: 5rem;
  margin: 0 auto;
  max-width: v.$medium-max-width;
  padding: 0 2.2rem;

  transform: skewY(7deg);

  @include m.respond(tab-land) {
    flex-direction: column;
  }
}

/*TOURS SECTION*/
.section-tours {
  background-color: v.$color-grey-light-1;
  padding: 40rem 4rem 15rem 4rem;
  margin-top: -20vh;
}

.tours-grid {
  margin: 5rem auto 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 2rem;
  column-gap: 5rem;
  max-width: v.$small-max-width;
}

/*STORIES SECTION*/

.section-stories {
  position: relative;
  padding: 15rem 0;
}

/*BOOKING SECTION*/

.section-book {
  padding: 15rem 4rem;
  background-image: linear-gradient(
    to right bottom,
    v.$light-green,
    v.$dark-green
  );
}

.book {
  max-width: v.$medium-max-width;
  margin: 0 auto;
  background-image: linear-gradient(
      105deg,
      rgba(v.$white, 0.8) 0%,
      rgba(v.$white, 0.8) 50%,
      transparent 50%
    ),
    url(../img/nat-10.jpg);
  background-size: cover;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(v.$black, 0.25);

  height: 63rem;

  &__form {
    width: 50%;
    padding: 6rem;
  }
}
